.navbar {
    background-color: #FFCAD4;
}

.head {
    background-color: #F7F5EB;
}

.marketing{
    background-color: #F6F5F5;
}

.btn{
    background-color: #FFCAD4;
}

.footer {
    background-color: #FFCAD4;
}

.quote {
    margin-left: 5%;
    margin-right: 5%;
}

.card-header {
    background-color: #FFCAD4;
}

.card-body {
    background-color: #F7F5EB;
}